.screen {
    margin-top: 1rem;
    padding: .5rem .75rem;

    background-color: var(--grey-100);
    border: 1px solid var(--grey-300);

    font-family: $monospace;
    font-size: 1rem;
    line-height: 1.125rem;
    color: var(--grey-600);
}