<div class="cards">
    
    {{ with .Site.Taxonomies.categories }}
    <section class="card-container">
        <div class="card">
            <div class="card-title">
                <p><i class="bi bi-dot"></i><span>CATAGORY</span><i class="bi bi-dot"></i></p>
            </div>
            <div class="dumbbell-content">
            {{ range . }}
                <a class="dumbbell" href="{{.Page.Permalink}}">
                    <span>{{.Page.Title}}</span>
                    <span class="dashed-line"></span>
                    <span>{{.Count}}</span>
                </a>
            {{ end }}
            </div>
        </div>
    </section>
    {{ end }}



    {{ with .Site.Taxonomies.tags }}

    <section class="card-container">
        <div class="card">
            <div class="card-title">
                <p><i class="bi bi-dot"></i><span>TAG</span><i class="bi bi-dot"></i></p>
            </div>
            <div class="capsule-content">
                {{ range . }}
                <a class="capsule" href="{{.Page.Permalink}}">
                    <span>{{.Page.Title}}</span>
                    <span>{{.Count}}</span>
                </a>
                {{ end }}
            </div>
        </div>
    </section>

    {{ end }}


</div>


