<div class="sidebar-inner-container">
    <div class="sidebar-content">
        

        <ul class="menu">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            
            
            {{if .Children }}
            
                    <li class="menu-item">
                        <div class="menu-item-inner-container">
                            <a class="item-link" href="{{ .URL }}">
                                <span class="item-pre">{{ .Pre }}</span>
                                <span class="item-name">{{ .Name }}</span>
                            </a>
                            <span class="item-toggle"><i class="bi bi-chevron-compact-down"></i></span>
                        </div>
                        <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="sub-menu-item">
                                <div class="menu-item-inner-container">
                                    <a class="item-link" href="{{ .URL }}">{{ .Name }}</a>
                                </div>
                            </li>
                        {{ end }}
                        </ul>      
                    </li>
            
                {{ else }}
            
                    <li class="menu-item">
                        <div class="menu-item-inner-container">
                            <a class="item-link" href="{{ .URL }}">
                                <span class="item-pre">{{ .Pre }}</span>
                                <span class="item-name">{{ .Name }}</span>
                            </a>
                        </div>
                    </li>
                    
                {{ end }}
            
            {{ end }}
            
            </ul>
    
    
    
    
    </div>
</div>



