.breadcrumb {
    list-style: none;

    background-color: var(--stage-background-color);
    color: var(--baseof-text-color);

    border-bottom: 1px solid var(--grey-300);

    padding: 0.75rem 1rem;

    font-size: .875rem;

    .breadcrumb-item {
       display: inline;
       &+.breadcrumb-item:before {
          content: "|";
          margin: 0 .75rem;
          font-size: .5rem;
       }
    }
 }

 @media (min-width: $md) {
   .breadcrumb {
      padding: .75rem 1.5rem;
   }
}