.cards {
    position: sticky;
    top: 0;
    padding: .5rem;


    .card-container {
        padding: .5em;


        .card {
            background-color: yellow;

    
        }

    }


}

@media screen and (min-width: $md) {

    .cards {
        padding: .75rem;
    
    
        .card-container {
            padding: .75em;
    
    
            .card {
    
        
            }
    
        }
    
    
    }

}