.items {
    padding: .5rem;

    .item-container {
        padding: .5em;

        .item {

            p {
                font-size: 1rem;
                color: var(--item-summary-color);
                line-height: 1.25rem;

                span {
                    margin-right: 1rem;
                    &:nth-child(odd){
                        margin-right: .25rem;
                        color:var(--primary)
                    }
                }
            }

            .item-title {
                font-size: 1.25rem;
                margin-bottom: .375rem;

                a {
                    text-decoration: none;
                    color: var(--item-title-color);
                    transition: all .5s;
                    &:hover {
                        color: var(--item-title-color-hover);
                    }
                }
            }



            .item-meta {
                font-size: .875rem;
                color: var(--item-meta-color);
                margin-top: .375rem;
            }
        }

    }


}

@media screen and (min-width: $md) {

    .items {
        padding: .75rem;
    
    
        .item-container {
            padding: .75em;
    
    
            .item {
    
        
            }
    
        }
    
    
    }

}