<div class="cards">
    
    {{ with .Site.Taxonomies.categories }}
    <section class="card-container">
        <div class="card">
            <div class="card-title">CATAGORY</div>
            <div class="dumbbell-content">
            {{ range . }}
                <a class="dumbbell" href="{{.Page.Permalink}}">
                    <span>{{.Page.Title}}</span>
                    <span class="dashed-line"></span>
                    <span>{{.Count}}</span>
                </a>
            {{ end }}
            </div>
        </div>
    </section>
    {{ end }}



    {{ with .Site.Taxonomies.tags }}

    <section class="card-container">
        <div class="card">
            <div class="card-title">TAG</div>
            <div class="capsule-content">
                {{ range . }}
                <a class="capsule" href="{{.Page.Permalink}}">
                    <span>{{.Page.Title}}</span>
                    <span>{{.Count}}</span>
                </a>
                {{ end }}
            </div>
        </div>
    </section>

    {{ end }}


</div>


