<div class="cards">
    
    {{ with .Site.Taxonomies.tags }}

    <section class="card-container">
        <div class="card">
            <div class="card-title">TAG</div>
            <div class="capsule-content">
                {{ range . }}
                <a class="capsule" href="{{.Page.Permalink}}">
                    <span>{{.Page.Title}}</span>
                    <span>{{.Count}}</span>
                </a>
                {{ end }}
            </div>
        </div>
    </section>

    {{ end }}


</div>


