<div class="cards">
    
    {{ with .TableOfContents }}
    <section class="card-container">
        <div class="card">
            <div class="card-title">TABLE OF CONTENT</div>
            <div class="tag-content">
                {{ . }}
            </div>
        </div>
    </section>
    {{ end }}




    {{ $related := .Site.RegularPages.RelatedIndices . "tags" | first 15 }}
    {{ with $related }}

    <section class="card-container">
        <div class="card">
            <div class="card-title">RELATED</div>
            <div class="normal-content">
                {{ range . }}
                <a class="normal" href="{{.Permalink}}">
                    <span><i class="bi bi-link-45deg"></i></span>
                    <span>{{.Title}}</span>
                </a>
                {{ end }}
            </div>
        </div>
    </section>

    {{ end }}

</div>


