<div class="cards">
    
    {{ with .TableOfContents }}
    <section class="card-container">
        <div class="card">
            <div class="card-title">Table of Content</div>
            <div class="card-content">
                {{ . }}
            </div>
        </div>
    </section>
    {{ end }}




    {{ $related := .Site.RegularPages.RelatedIndices . "tags" | first 15 }}
    {{ with $related }}

    <section class="card-container">
        <div class="card">
            <div class="card-title">Related</div>
            <div class="card-content">
                <ul>
                    {{ range . }}
                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </section>

    {{ end }}

</div>


