<div class="cards">

    <section class="card-container">
        <div class="card">
            <div class="card-title">Category</div>
            <div class="card-content">
                <h4>abcdefg</h4>
                <h4>abcdefg</h4>
                <h4>abcdefg</h4>
                <h4>abcdefg</h4>
            </div>
        </div>
    </section>

    <section class="card-container">
        <div class="card">
            <div class="card-title">Tags</div>
            <div class="card-content">
                <h4>abcdefg</h4>
                <h4>abcdefg</h4>
                <h4>abcdefg</h4>
                <h4>abcdefg</h4>
            </div>
        </div>
    </section>


</div>