<div class="items">
    {{ range .Pages }}
    <section class="item-container">
        <div class="item">
            <p class="item-title"> <a href="{{ .Permalink }}">{{ .Title }}</a></p>
            {{ .Summary }}
            <p class="item-meta">
                <span><i class="bi bi-calendar-date-fill"></i></span>
                <span>{{ .Date.Format "2006-01-02" }}</span>
                <span><i class="bi bi-person-fill"></i></span>
                <span>{{ .Site.Author.name }}</span>
            </p>
    
        </div>
    </section>

    {{ end }}
</div>