:root {
    --white:    #ffffff;
    --grey-100: #f8f9fa;
    --grey-200: #e9ecef;
    --grey-300: #dee2e6;
    --grey-400: #ced4da;
    --grey-500: #adb5bd;
    --grey-600: #6c757d;
    --grey-700: #495057;
    --grey-800: #343a40;
    --grey-900: #212529;
    --black:    #000000;
}

:root[theme="default"] {

    --primary:#006a57;
    --secondary: #ffb400;
    --third: #CC1A4F;

    // Baseof Colors
    --baseof-text-color:var(--grey-600);
    --baseof-text-color-dark:var(--grey-700);
    --baseof-text-color-light:var(--grey-500);
    --baseof-background-color:var(--white);
    --baseof-border-color:var(--grey-300);
    --baseof-title-color:var(--primary);

    // Menu Colors
    --menu-text-color:var(--grey-600);
    --menu-text-color-hover:var(--grey-800);
    --menu-text-color-active:var(--white);
    --menu-background-color:var(--grey-100);
    --menu-background-color-hover:var(--secondary);
    --menu-background-color-active:var(--secondary);

    // Cards Colors
    --card-title-color:var(--grey-500);
    --card-text-color:var(--primary);
    --card-text-color-hover:var(--white);
    --card-background-color:var(--white);
    --card-background-color-hover:var(--secondary);

    // Items Colors
    --item-title-color:var(--primary);
    --item-title-color-hover:var(--secondary);
    --item-summary-color:var(--grey-600);
    --item-meta-color:var(--grey-500);

    // Link Colors
    --link-text-color: var(--third);
    --link-text-color-hover: var(--white);
    --link-background-color: var(--white);
    --link-background-color-hover: var(--third);

}

:root[theme="other"] {

}