:root {
    --white:    #ffffff;
    --grey-100: #f8f9fa;
    --grey-200: #e9ecef;
    --grey-300: #dee2e6;
    --grey-400: #ced4da;
    --grey-500: #adb5bd;
    --grey-600: #6c757d;
    --grey-700: #495057;
    --grey-800: #343a40;
    --grey-900: #212529;
    --black:    #000000;
}

:root[theme="default"] {

    --primary:#006a57;

    --secondary: #ffb400;
    
    --baseof-background-color:var(--white);
    
    --baseof-text-color:var(--grey-800);
    --baseof-text-color-hover:var(--grey-800);
    --baseof-text-color-active:var(--grey-800);
    --baseof-border-color:var(--grey-300);

    --stage-background-color:var(--white);

    // Sider Colors Start
    --side-background-color: var(--white);

    --sidebar-title-color:var(--primary);
    --sidebar-description-color:var(--grey-500);

    --menu-text-color: var(--grey-600);
    --menu-text-color-hover: var(--grey-800);
    --menu-text-color-active:var(--grey-800);
    --menu-background-color: var(--grey-200);
    --menu-background-color-hover: var(--grey-200);
    --menu-background-color-active: var(--grey-200);

    --social-text-color:var(--grey-600);
    --social-text-color-hover:var(--grey-800);

    --support-text-color:var(--grey-500);

    // Sider Colors End

    // Cards Colors Start
    --card-title-color:var(--grey-300);
    --card-text-color:var(--primary);
    --card-text-color-hover:var(--white);
    --card-background-color:var(--white);
    --card-background-color-hover:var(--secondary);
    // Cards Colors End

    // Items Colors Start
    --item-title-color:var(--primary);
    --item-title-color-hover:var(--secondary);
    --item-summary-color:var(--grey-600);
    --item-meta-color:var(--grey-500);
    // Items Colors End
}

:root[theme="other"] {}