:root {
    --white:    #ffffff;
    --grey-100: #f8f9fa;
    --grey-200: #e9ecef;
    --grey-300: #dee2e6;
    --grey-400: #ced4da;
    --grey-500: #adb5bd;
    --grey-600: #6c757d;
    --grey-700: #495057;
    --grey-800: #343a40;
    --grey-900: #212529;
    --black:    #000000;
}

:root[theme="default"] {

    --primary:#719847;
    --secondary: #fbf7f0;
    
    --baseof-background-color:var(--grey-100);
    
    --baseof-text-color:var(--grey-600);
    --baseof-text-color-hover:var(--grey-800);
    --baseof-text-color-active:var(--grey-800);
    --baseof-border-color:var(--grey-300);

    --stage-background-color:var(--white);


    --side-background-color: var(--white);

    --logo-text-color:var(--grey-600);
    --logo-background-color: var(--white);

    --menu-text-color: var(--grey-600);
    --menu-text-color-hover: var(--grey-800);
    --menu-text-color-active:var(--grey-800);
    --menu-background-color: var(--grey-800);
    --menu-background-color-hover: var(--grey-800);
    --menu-background-color-active: var(--grey-800);





}

:root[theme="other"] {}