// Breakpoint

$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
$xxl: 1400px !default;

// 字体

$sans-serif: Poppins, "Noto+Sans+SC", sans-serif !default;
$monospace: monospace !default;

// 基础值
$font-base-size: 16px;

// 尺寸

$header-height: 60px;

$side-original-position: -240px;
$side-width: 240px;
