// Breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Fonts
// Font-family
$sans-serif: Poppins, sans-serif;
$monospace: "Anonymous Pro", monospace;
$serif: Raleway, serif;
// Font-size
$font-base-size: 16px;

// Size
// Header
$header-height: 60px;
// Sider
$sider-original-position: -240px;
$sider-width: 240px;
// Card-container Anonymous Pro
$card-container-width: 350px;
// Carousel Button Height
$carousel-height: 40px;
