.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    .img-container {
        width: $header-height;
        height: $header-height;

        padding: 14px;

        display: none;


        img {
            display: block;
            width: 32px;
            height: 32px;

        }
    }
    


    span {
        font-size: 1.25rem;
        font-weight: bold;        
        color: var(--logo-text-color);
        margin: 0 1rem;

    }

}