.search {
    display: flex;
    align-items: center;

    margin: 0 1rem;

    .input-form {

        height: 2rem;
        padding: .25rem;

        border: 1px solid var(--grey-300);
        border-radius: .25rem 0 0 .25rem;

    }

    span {

        background-color: var(--grey-100);
        color: var(--grey-500);
        font-size: 1.25rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        border-top: 1px solid var(--grey-300);
        border-right: 1px solid var(--grey-300);
        border-bottom: 1px solid var(--grey-300);
        border-radius: 0 .25rem .25rem 0;


        

    }
}