<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" theme="{{ .Site.Params.colorScheme }}">
    <head>
        {{- partial "baseof/head.html" . -}} 
    </head>
    <body>

        <header id="header">
            <div>{{- partial "header/logo.html" . -}}</div>
            <div class="header-inner-container"></div>
            <div>{{- partial "header/lang.html" . -}}</div>
            <div>{{- partial "header/toggle.html" . -}}</div>
        </header>

        <div class="stage-container">

            <aside id="sidebar">
                {{- partial "stage/scrollbar-invisible.html" . -}}
            </aside>
            
            <main id="stage">
                <div class="stage-header"></div>
                <div class="stage-center">
                    {{- block "stage" . }}{{- end }}
                </div>
                <div class="stage-foot">
                    {{- partial "stage/footer.html" . -}}
                </div>
            </main>

        </div>


        <!-- Javascripts -->
        {{- partial "baseof/foot.html" . -}} 
    </body>
</html>
