<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" theme="{{ .Site.Params.colorScheme }}">
    <head>
        {{- partial "baseof/head.html" . -}} 
    </head>
    <body>    
        <header class="header-container">
            <div>
                {{- partial "header/logo.html" . -}} 
            </div>
            <div class="header-inner-container">
                {{- partial "header/search.html" . -}}
            </div>
            <div>
                {{- partial "header/toggle.html" . -}}
            </div>
        </header>
        <div class="stage-container">
            <aside id="sidebar" class="sidebar">

            </aside>
            <main class="stage">
                <div class="stage-header"></div>
                <div class="stage-center">
                    {{- block "stage" . }}{{- end }}
                </div>
                <div class="stage-foot">
                    {{- partial "stage/footer.html" . -}}
                </div>
            </main>
        </div>
        <!-- Javascripts -->
        {{- partial "baseof/foot.html" . -}} 
    </body>
</html>
