.menu {
    margin: 0 auto;
    padding: 1rem;

    width: 90%;

    .menu-item {
        list-style: none;

        .item-link {
            height: 36px;
            
            display: flex;
            align-items: center;

            text-decoration: none;
            color: var(--baseof-icon-color);
            transition: all 1s;
            &:hover {
                color: var(--baseof-icon-color-hover);
            }

            .item-pre {
                font-size: 1rem;
                margin-right: .75rem;

            }
    
            .item-name {

    
            }
        }

        .active {
            color: var(--primary);
        }

    }
}
