.title {
    .img-container {
        width: 100px;
        height: 100px;

        margin: 30px auto 10px;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .txt {
        text-align: center;
        font-size: 1.25rem;
        color: var(--primary);
        margin-bottom: 20px;
    }
}