.outter-container {
    width: 250px;
    height: 100%;
    position: relative;
    overflow: hidden;



    .inner-container {
        position: absolute;
        height: 100%;
		overflow-y: scroll;
        overflow-x: hidden;

        .content-container {
            width: 250px;
		    height: 100%;

        }
    }
}