.sidebar {
    margin: 0 auto;

    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        margin: 2rem 0 .5rem;
        width: 6rem;
        height: 6rem;
    }

    .title {
        font-size: 1.5rem;
        color: var(--baseof-title-color);
    }

    .description {

        font-size: .875rem;
        font-style: italic;
        color: var(--baseof-text-color);
        margin: .5rem 0;

        text-align: center;
           
    }

    .menu {

        margin: 1rem 0;
        width: 85%;
        font-size: 1rem;

        .menu-item {
            list-style: none;
            margin: .5rem 0;

            .item-link {
                display: block;
                padding: .25rem .5rem;
                text-decoration: none;

                border-radius: .25rem;

                color: var(--menu-text-color);
                background-color: var(--menu-background-color);

                transition: all 1s;

                &:hover {
                    color: var(--menu-text-color-hover);
                    background-color: var(--menu-background-color-hover);
                }

                span {
                    margin-right: .5rem;
                }

            }

            .active {
                color: var(--menu-text-color-active);
                background-color: var(--menu-background-color-active);
            }

        }

    }

    .container-flex-1 {
        flex: 1;
    }

    .rss {

        font-size: 1.25rem;

        span {
            margin: 0 .25rem;
        }

        a {
            color: var(--baseof-text-color);
            transition: all 1s;

            &:hover {
                color: var(--baseof-text-color);
            }

        }

    }


    .support {

        font-size: .75rem;
        color: var(--baseof-text-color);
        margin: .75rem 0 1.5rem;

    }
    
}