.stage-footer {
    border-top: 1px solid var(--baseof-border-color);
    .copyright {
        padding: .75rem;
        font-size: .875rem;
        text-align: center;
        color: var(--baseof-text-color-light);
    }

}



