:root[data-theme="red"] {
    --primary-000: #ffecec;
    --primary-100: #ffd4d4;
    --primary-200: #ffadad;
    --primary-300: #ff8787;
    --primary-400: #ff5b5b;
    --primary-500: #ff0000;
    --primary-600: #dc0000;
    --primary-700: #ad0000;
    --primary-800: #7a0000;
    --primary-900: #470000;
    --primary-950: #2d0000;
}